.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-center{
  justify-content: center;
}
.mr-2{
 margin-right: 2rem;
}
.column{
  width: 50%;

  & > p{
   margin-right: 2rem;
  }

}

@media only screen and (min-width: 780px) {

    .col-2{
       display: flex;
    }


 }